body{
    margin: 0;

    font-family: 'Poppins',sans-serif ;
}
h1{
    font-size: 50px;
}
.one{
    color: orange;
}
.pre{
    width: 40%;
    float: left;
    height: 10px;
    margin-left: 7%;
    padding-left: 1%;
    
}
.boton{
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
   text-decoration: none;
   padding: 10px 42px;
   color: white;
   font-weight:800;

}
.pre img{
    width: 100%;
}
.top{
    
    background-image: url("imgs/top.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}


.boto{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    font-weight: 800;
    padding: 8px 32px;
    
}
h2{
    font-size: 40pxs;
}
p{
    color: dimgray;
}
.top2{
    background-image: url("imgs/bc.png");
    background-repeat: no-repeat;
    background-position: right;
}
.lo{
    color:orange;
}


.experience-area{
    background-image: url("imgs/jony.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 100px;
}
.experience-area h3{
    color: orange;
}

.experience-area div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
    
}




#idd{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#id{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.fa{
    width: 500px;
    float: left;
    height: 5px;
    margin-left: 25%;
    padding-left: 5%;
    background-color: lawngreen;
    
}
.n{
    background-color: rgb(199, 202, 196);
    text-align: center;
    height: 60px;
    font-weight: 800;
    border: 25px;
}